@charset "utf-8";
/* CSS Document */

/*    foot     */
div.foot{max-width: 1000px; margin: auto; font-size:12px; color:#000; padding-bottom:20px; margin-top: 10px; overflow: auto; border-top: 1px #999 solid;}
div.foot a{color:#999; text-decoration:none;}
div.foot a:hover{color: #333;}
div.foot b{font-weight: normal; color: #999;}
div.foot b:hover{text-decoration: underline;}
div.foot span.rfloat{float: right; color: #CCC;}
div.foot span.lfloat{}