div.head{margin-bottom: 20px;}
div.head div.goods{max-width: 1000px; height: 300px; margin: auto; position: relative; padding: 10px 0; background: #333;}

div.head div.goods div.img{width: 300px; height: 300px; overflow: hidden; position: relative; float: left; margin-left: 10px;}
div.head div.goods div.img img{position: absolute; width: 300px; height: 300px;}
div.head div.goods h1{font-size: 18px; padding: 10px 10px 10px 320px; color: #FFF;}

div.head div.goods ul.mode, div.head div.goods ul.pay{list-style: none;}
div.head div.goods ul.mode{background: #ff5c50; margin-left: 310px;}
div.head div.goods ul.mode li{font-size: 12px; padding: 5px 10px; color: #CCC;}

div.head div.goods ul.mode li label{float: left; width: 80px; color: #FFF; font-size: 12px; text-align: right; padding-right: 20px; padding-top: 15px;}
div.head div.goods ul.mode li ul{list-style: none; padding-left: 100px;}
div.head div.goods ul.mode li ul li{color: #FFF;}
div.head div.goods ul.mode li ul li.nowMoney{font-size: 30px; font-weight: bold;}

div.head div.goods ul.mode li span.money{font-size: 12px; color: #EBEBEB; font-weight: bold; text-decoration: line-through; margin-left: 3px;}

div.head div.goods ul.pay{position: absolute; bottom: 0; left: 310px; width: 690px;}
div.head div.goods ul.pay li{font-size: 12px; padding: 10px;}
div.head div.goods ul.pay li a.pay{padding: 10px; font-size: 40px; font-weight: bold; color: #FFF; text-decoration: none; background: green; border-radius: 3px; display: inline-block; margin: auto;}
div.head div.goods ul.pay li a.pay:hover{background: #00a600;}
div.head div.goods ul.pay li a.like{padding: 3px 10px; background: #4898F8; text-decoration: none; color: #FFF; border-radius: 3px; display: inline-block; margin-right: 10px;}
div.head div.goods ul.pay li a.like:hover{background: blue;}

div.com{max-width: 1000px; margin: auto;}
div.com div.synopsis{float: right; max-width: 690px;}