﻿@charset "utf-8";
/* CSS Document */
	
/*   logo   */
div.logo{max-width:1000px; margin:auto; margin-top:20px;}
div.logo div{font-family: 'Microsoft YaHei', tahoma, arial, '宋体'; font-size:50px; color:#999;}

/*  mian  */
div.mian{max-width:1000px; margin:auto; background: #EBEBEB;}
div.mian div.ml{float:left; max-width:790px; padding: 0; padding-top:12px; padding-left: 10px;}
div.mian div.mr{float:right; width:200px;} /* margin-top:90px;} */


/*   left    */
div.ml h1{color:#333; font-size:12px; font-weight:normal; height:20px; padding-top:40px; margin-bottom:20px; background:url(../include/images/logo/b60.jpg) no-repeat; padding-left:80px;}
div.ml h2{color:#666; font-size:16px; font-weight:normal; margin-bottom:40px;}
div.ml h2 b{color:#333; display: block; font-size:32px; margin-bottom: 16px; font-family: 'Microsoft YaHei', tahoma, arial, '宋体';}
div.ml h2 b sup{color:#4898F8; font-weight:normal; font-size: 16px;}
div.ml h3{color:#CCC; font-size:12px; font-weight:normal;}
div.ml h3 a{color:#4898F8;}


/*    right    */
div.mr ul{list-style: none; padding: 10px; background: #EBEBEB;}
div.mr ul li{padding-bottom: 5px; position: relative;}
div.mr ul li input{padding:3px; font-size: 12px; padding-top:6px; padding-bottom:6px; width:172px;}
div.mr ul li span{position:absolute; top:6px; font-size: 12px; left:6px; color:#999; z-index:1;}
div.mr ul li span.on{color: #CCC;}
div.mr ul li button{width:80px; height:24px; background: #6394d0; border: none; font-size:14px; font-weight: bold; font-family: 'Microsoft YaHei', tahoma, arial, '宋体'; color:#FFF; cursor:pointer;}
div.mr ul li button:hover{background: #A2BFE3;}

div.mr ul li a{font-size:12px; color:#000; margin-left:10px; text-decoration: none;}
div.mr ul li a:hover{color:#F00; text-decoration: underline;}
div.mr ul li em{font-style: normal; font-size: 12px; color: #CCC;}
div.mr ul li em a{margin: 0;}
div.mr ul div.result, div.mr ul div.re{border: 1px #f7bd59 solid; background: #fbeacc; color: #ffa300; font-size: 12px; display: none; padding: 5px; margin-bottom: 5px;}

div.mr ul li.l{padding-bottom: 0;}
/*
div.mr ul.l{border-bottom: 1px #2f87f3 solid;}
div.mr ul.z{border-top: 1px #71aaf1 solid;}
*/
div.mr ul.own{height: 75px; background: #4898F8; padding: 0; border: 10px #EBEBEB solid; margin-top: 5px;}
div.mr ul.own span.def img{margin-left: -22px; width: 119px;}
div.mr ul.own span{width: 75px; height: 75px; overflow: hidden; float: left;}
div.mr ul.own li.name{float: left; margin-left: 10px; padding: 0; line-height: 75px;}
div.mr ul.own li.name a{color: #FFF; font-weight: bold; font-size: 18px; text-decoration: none;}
div.mr ul.own li.name a:hover{text-decoration: underline; color: #333;}
div.mr ul.own li.clear{padding: 0;}

div.mr ul.own div.own{background: #000; padding: 5px;}
div.mr ul.own div.own a{font-size: 12px; color: #999; text-decoration: none;}
div.mr ul.own div.own a:hover{color: #FFF;}

div.mr div.top{}

div.indextop{width: 100%; height: 400px; background: #333 url("/include/images/indextopbg.png");}

div.index{max-width: 1000px; margin: auto;}
div.index h1{font-family: 'microsoft yahei'; font-size: 16px; padding: 10px 0; border-bottom: 3px #CCC solid; margin-bottom: 5px;}
div.index ul{list-style: none; height: 300px;}
div.index ul li{float: left; margin: 5px; position: relative;}
div.index ul li h1{font-size: 12px; position: absolute; bottom: 0; left: 0; color: #FFF; background: RGBA(0, 0, 0, 0.3); margin: 0; padding: 5px; border: none; width: 130px;}
div.index ul li a{display: inline-block;}
div.index ul li a img{width: 140px; height: 140px;}


div.bottom{width: 630px; margin: auto;}