@charset "utf-8";
/* CSS Document */

a{color: #4e8fd2; text-decoration: none;}


/*   logo   */
div.logo{margin-bottom: 30px; position: relative;}
div.logo h1{font-family: 'Microsoft YaHei'; color: #000; font-size: 30px; display: inline-block;}

/*   mian   */
div.mian{max-width:1000px; margin:auto; padding-top: 50px;}

/*   news   */
div.news{background:#FFF; padding-bottom: 200px; width: 1000px;}

/*     head      */
div.news div.head{border-bottom: 1px #CCC solid; padding-bottom: 10px; margin-bottom: 10px;}
div.news div.head h1{font-size: 17px; line-height: 21px;}
div.news div.head span{font-size: 12px; color: #333; line-height: 15px;}

/*       sousuo       */
div.news ul.sousuo{}
div.news ul.sousuo li{margin-bottom: 10px;}
div.news ul.sousuo li label{font-size: 12px; display: block; color: #333;}
div.news ul.sousuo li input{padding: 5px; border: 1px #CCC solid; width: 120px; font-size: 14px;}
div.news ul.sousuo li button{padding: 3px; padding-left: 7px; padding-right: 7px; background: #4e8fd2; border: 1px #06F solid; color: #FFF;}

/*    nlist    */
ul.nlist{list-style: none; margin-bottom: 30px;}
ul.nlist li{border-bottom: 1px #CCC solid; border-top: 2px #FFF solid; padding: 10px;}
ul.nlist li.odd{background: rgb(251, 251, 251);}
ul.nlist li:hover, ul.nlist li.hover{background: rgb(249, 249, 249);}
/* ul.nlist li:hover{background: #e0f2ff;} */
ul.nlist li a.img{font-size:14px; display: inline-block; width: 80px; height: 80px;}
ul.nlist li h1{padding: 0; margin: 0; font-size: 16px; color: rgb(59, 89, 152);}
ul.nlist li h1 a{font-size: 14px; color: #4e8fd2; font-weight: bold;}
ul.nlist li h1 a:hover{color: #336bae;}
ul.nlist li h1 b{color: red;}
ul.nlist li img{}
ul.nlist li div.con{font-size:14px; color:#999; padding-left: 5px; display: inline-block; height: 80px;}
ul.nlist li div.con ul{list-style: none;}
ul.nlist li div.con ul li{font-size: 12px; padding: 0; border-bottom: none; color: rgb(128, 128, 128); line-height: 18px; margin: 0; border: none;}
ul.nlist li div.con ul li a{color: #666; margin-right: 5px;}
ul.nlist li div.con ul li a:hover{text-decoration: underline;}
ul.nlist a img{width: 80px; height: 80px;}
ul.nlist li div.con ul li a.tip{display: inline-block; padding: 5px; background: #4898F8; color: #FFF; padding-top: 1px; padding-bottom: 1px;}
ul.nlist li div.add{float: right; padding-top: 28px;}

/*   list   */
div.list{float:right; width:200px;}
div.list ul{font-size:12px; list-style: none; padding: 10px; padding-left: 0; padding-right: 0;}
div.list ul li a{font-size: 14px;}
div.list ul li a:hover{text-decoration: underline;}
div.list ul li div.title{height: 30px; line-height: 30px; overflow: hidden;}
div.list ul li div.title a{color: #333;}
div.list ul li div.title a:hover{text-decoration: underline; color: #4898F8;}
div.list ul li div.con{font-size:12px; color: #CCC;}
div.list ul li.ge{font-size: 0; margin: 0; padding: 0; height: 0; line-height: 0px; border-bottom: 1px #FFF dashed; border-top: 1px #CCC dashed; margin-top: 10px;}

/*   div.bottom  */
div.bottom{padding-top: 20px; overflow: auto; text-align: center;}
div.bottom a{display: inline-block; font-size: 12px; height: 19px; line-height: 19px; padding-left: 10px; color: #333; text-decoration: none; padding-right: 10px; border: 1px #CCC solid; margin-right: 5px;}
div.bottom a.wenzi{border: none; padding: 0;}
div.bottom a:hover{color: #4e8fd2; background: RGB(250, 250, 250); border-color: #4e8fd2;}
div.bottom a.on, div.bottom a.on:hover{color: #FFF; font-size: 12px; border: #4e8fd2 1px solid; background: #4e8fd2; font-weight: bold;}

/*   form    */
form{position: absolute; top: 15px; right: 0; width: 876px; height: 32px; border: 3px #EBEBEB solid;}
form input{padding: 5px; background: #FFF; width: 795px; font-size: 16px; position: absolute; top: 0px; left: 0; border: none; border-radius: 0px; height: 21px;}
form button{font-size: 14px; font-weight: bold; color: #FFF; cursor: pointer; border: none; background: #4e8fd2; height: 32px; width: 70px; text-align: center; position: absolute; top: 0; right: 0; border-radius: 0px;}
form button.hover{background: #06F;}
form bottom.focus{border: 1px dashed #06F;}

/*   div.tags   */
div.tags{ height: 30px; line-height: 30px; padding-left: 10px; padding-right: 10px; overflow: hidden; font-size: 12px; color: #404040; border: 1px #CCCCCC solid; background: #EBEBEB; margin-bottom: 10px;}
div.tags a{margin-right: 5px; padding-right: 5px; font-size: 12px; color: #4898F8; text-decoration: none; border-right: 1px #CCC solid;}
div.tags a:hover{color: #4e8fd2; text-decoration: underline;}

/*      if       */
ul.if{border: 1px #CCCCCC solid; border-top: 3px #4898F8 solid; margin-bottom: 10px; padding: 10px;}
ul.if label{font-size: 12px; line-height: 20px; display: inline-block; width: 80px; margin-right: 20px; text-align: right; color: #404040;}
ul.if li{list-style: none; line-height: 30px;}
ul.if li a{font-size: 12px; display: inline-block; margin-right: 20px; color: #4e8fd2;}
ul.if li a:hover{text-decoration: underline;}
ul.if li input{padding: 3px; width: 190px; margin-bottom: 10px; border-color: #CCC;}

div.page{text-align: center;}
div.page span, div.page a{width: 38px; height: 38px; line-height: 38px; text-align: center; display: inline-block; border-radius: 3px;}
div.page span{background: #008200; color: #FFF;}
div.page a{background: #EBEBEB; color: #333;}
div.page a:hover{background: #BBB;}
div.page a.max{width: 70px;}